*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
html{
    font-size: 62.5%;
}
.background{
    height: 100vh;
    width: 100vw;
    background-color: #c7bbb8;
    text-align: center;
    display: flex;

}
.container{
    margin: auto;
    height: 80%;
    width: 40%;
    background-color: #e6e5e4be;
    box-shadow: 2px 2px 2px orangered;
    position: relative;
    border-radius: 3rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;

}
.formContainer{
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
}


.inputContainer{
    width: 60%;
    height: 3rem;
    transform: translate(30%,-50%);
}


.inputField{
    display: inline-block;
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    position: relative;
    padding: 1rem;
}

.inputText{
    position: absolute;
    top: 0.8rem;
    left: 1rem;
    font-size: 1.2rem;
    color: grey;
    pointer-events: none;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    transition:all 0.4s;
}

.inputContainer input:focus{
    border-bottom: 2px solid #b5651d;
}
.inputContainer input:focus + label{
    top: -1.7rem;
    left: 0;
    color:  #b5651d;
    font-weight: bold;
}

.focusText{
    top: -1.7rem;
    left: 0;
    color:  #b5651d;
    font-weight: bold;
}

.btn{
    border: none;
    width: 80%;
    height: 3rem;
    border-radius: 30px;
    background-color: #9b4206;
    color: white;
    font-size: 1.2rem;
    margin-top: 2rem;
}
.fileUploadContainer{
    display: flex;
    flex-direction: row;
    justify-content:left;
    font-size: 1.2rem;

}
.choosebtn{
    display: inline-block;
    background-color: orange;
    height: 3rem;
    width: 12rem;
    border-radius: 4rem;
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    justify-content: center;
    margin-left: 3rem;
    
}

.hidden{
 display: none;
}

.fileName{
    color:  #b5651d;
    font-weight: bold;
    font-size: 1.2rem;
    transform: translateY(30%);

}

    
