
.videosContainer{
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    width: 90%;
    
}

.videosContainer::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .videosContainer {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
.videoModal{
    height: 55rem;
    border: 1.5px solid #d6e5f2;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: #f5f6f8 ;
    scroll-snap-align: both;
    overflow: hidden;
    margin-bottom: 3rem;
}

.authorData{
    background-color: white;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: left;
    border-bottom: 2px solid #d6e5f2;;
}
.authorPic{
    margin-left: 3rem;

    min-width: 50px;
    height: 70%;
    width: 30px;
    display: flex;
    align-items: center;
    border-radius: 50%;
}

.authorPic img{
    height: 100%;
    width: 100%;
    border-radius: 50%;

}
.authorName{
    font-size: 2rem;
    font-weight: bold;
    margin-left: 2rem;
}


.videoData{
    
    height: 45rem;
    width: 100%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.postIconContainer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 4rem;
    margin-right: 0.8rem;
}



